.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalContent {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #00000030;
    width: 300px;
    text-align: center;
  }
  
  .modalContent input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .modalActions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .modalActions button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .cancelBtn {
    background-color: red;
  }
  
  .modalActions button:first-child {
    background-color: darkblue;
    color: white;
  }
  